# Server Configuration
PORT=8080
GRACEFUL_SHUTDOWN_TIMEOUT=30s

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=weather_api

# SendGrid Configuration
SENDGRID_API_KEY=your_sendgrid_api_key
SENDER_EMAIL=your_email@example.com
SENDER_NAME=Weather API

# OpenWeather Configuration
OPENWEATHERMAP_API_KEY=your_openweather_api_key
GEOCODING_API_URL=http://api.openweathermap.org/geo/1.0/direct
OPENWEATHERMAP_API_URL=http://api.openweathermap.org/data/2.5/weather

# WeatherAPI Configuration
WEATHER_API_KEY=your_weatherapi_key
WEATHER_API_URL=http://api.weatherapi.com/v1/current.json

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_TTL=10m 